<div class="ob-grid">
    <div class="ob-span-2"></div>
    <div class="ob-span-8">
        <ob-file-upload [uploadUrl]="uploadUrl" [accept]="acceptFiles" [maxFileSize]="maxFileSize"
            [multiple]="multipleFile" [singleRequest]="singleRequest" (uploadEvent)="uploadEvent($event)">
        </ob-file-upload>
        <br>
        <h3>{{ "i18n.file-upload.uploadedFiles" | translate }}</h3>
        <ob-file-info [getUploadedFilesUrl]="getUrl" [mapFunction]="mapData()" (uploadEvent)="uploadEvent($event)">
        </ob-file-info>
    </div>
</div>